<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jython-annotation-tools-spring/src/test/java/net/wstech2/jython/tests/java/spring/SpringTests.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.wstech2.jython.tests.java.spring.SpringTests"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jython-annotation-tools-spring"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.python.compiler.bytecodemonitor.exportdir=&quot;${project_loc:/jython-annotation-tools}/target/classes/&quot;&#13;&#10;-Dorg.python.compiler.syspath.append=&quot;${project_loc:/jython-annotation-tools}/src/main/resources/;${project_loc:/jython-annotation-tools}/src/test/resources/;${project_loc:/jython-annotation-tools-spring}/src/main/resources/;${project_loc:/jython-annotation-tools-spring}/src/test/resources/;${project_loc:/jython-annotation-tools-samples}/src/main/resources/;${project_loc:/jython-annotation-tools-samples}/src/test/resources/&quot;"/>
</launchConfiguration>
